
<!-- it carries over the base.html to this page -->
{% extends "base.html" %}

{% block content %}
<main class="main main--content">
    <dl>
        <p class="title">
            Thank you for visiting my portfolio and please do not hesitate to contact me if I can provide further information.
        </p>
        <div class="contact">
            
            <dt> 
                Email:
            </dt>
            <dd class="contact__details"> 
                    hcc5022 [at] bu.edu
            </dd>
        </div>
        
        <div class="contact">
            <a class="contact__diagram" href="https://github.com/aidanschang">
                <img class="contact__img" src="https://camo.githubusercontent.com/bf4b11af389d1e0caf625c40c274ba71464727c43579e48f512112694888eb62/68747470733a2f2f63646e2e6a7364656c6976722e6e65742f6e706d2f73696d706c652d69636f6e7340332e302e312f69636f6e732f6769746875622e737667" alt="github" >
            </a>
            <a class="contact__diagram" href="https://www.linkedin.com/in/aidan-chang-b5197860/" rel="nofollow">
                <img class="contact__img" src="https://camo.githubusercontent.com/28bbd2596707954793abeff9eb24d343c1c78b7bf184b90294b4b190c6097a65/68747470733a2f2f63646e2e6a7364656c6976722e6e65742f6e706d2f73696d706c652d69636f6e7340332e302e312f69636f6e732f6c696e6b6564696e2e737667" alt="linkedin">
            </a>
        </div>

       
    </dl>
</main>
{% endblock %}