{% extends 'base.html'%}
{% block content%}
    <main class="main main--project">
        <div>
            <img
                class="hero"
                src="{{url_for('static', filename=project['hero'])}}"
                alt="picture for self pay kiosk rdbms"
            />
            <article class="project">
                <article class="project__content">
                    <h2 class="project__heading">{{project['name']}}</h2>
                    <p>
                        Microblog is my first project with Flask and MongoDB. A simple project that demonstrates my basic 
                        knowledge on the operations of Flask, Jinja2, MongoDB, HTML, and CSS. The project is deployed with 
                        render.com with a free tier account. Please be patience with the loading time since it is the 
                        limitation of being a free tier account.
                    </p>
                    <p>
                        Checkout my microblog by clicking the arrow on the side!
                    </p>
                </article>

                <section>
                    <article class="project__meta-group">
                        <h3 class="project__heading project__heading--meta">
                            Technologies used
                        </h3>
                        <ul class="technology-list">
                            {% for category in project["categories"] %}
                                <li class="technology-list__item">{{category}}</li>
                            {% endfor %}
                        </ul>
                    </article>

                    <a class="cta" href="{{project['prod']}}">
                        <img class="cta__icon" src="{{url_for('static', filename='pointer.svg')}}"/>
                        View in production
                    </a>
                </section>
            </article>
        </div>
    </main>
{% endblock%}