{% extends 'base.html'%}
{% block content%}
    <main class="main main--project">
        <div>
            <img
                class="hero"
                src="{{url_for('static', filename=project['hero'])}}"
                alt="picture for self pay kiosk rdbms"
            />
            <article class="project">
                <article class="project__content">
                    <h2 class="project__heading">{{project['name']}}</h2>
                    <p>
                        A Self Pay Kiosk System (SPKS) is commonly used in the quick-service restaurants 
                        and corporate cafeterias for customer's convenience and reduce labor costs for 
                        the operators. With the help of CI/CD method, I was able to fine-tune
                        the database to ensure it reaches the level to fulfill the complexity 
                        nature of the store's menu. 
                    </p>
                    <p>
                        As a final result, I created eight different Use Cases and Fields to 
                        capture all the features that a customer or a system admin may 
                        experience. Based on the Use Cases, I further created the Structural 
                        Database Rules before I mapped out the Initial DBMS Physical ERD.
                    </p>
                    <p>
                        To interact with the database, I created and executed two Stored Procedures with 
                        explanations based on the most frequent queries that a system admin will be using. 
                        Then based on the Stored Procedures, I identified and created Indexes within the 
                        database to increase the query performance. Lastly, I created an additional table 
                        to store historical data that the database may generate; in my case, I made a 
                        receipt_refund_history for the History Table. 
                    </p>
                    <p>

                    </p>
                </article>

                <section>
                    <article class="project__meta-group">
                        <h3 class="project__heading project__heading--meta">
                            Technologies used
                        </h3>
                        <ul class="technology-list">
                            {% for category in project["categories"] %}
                                <li class="technology-list__item">{{category}}</li>
                            {% endfor %}
                        </ul>
                    </article>

                    <a class="cta" href="{{project['prod']}}">
                        <img class="cta__icon" src="{{url_for('static', filename='pointer.svg')}}"/>
                        View  details in GitHub
                    </a>
                </section>
            </article>
        </div>
    </main>
{% endblock%}